spring:
  application:
    name: menuguru-customer
  jackson:
    deserialization:
      fail-on-unknown-properties: true     
server:
  servlet:
    context-path: "/menuguru-customer/v1"      
---    
spring:
  config:
    activate:      on-profile:      - test
  sql:
    init:      mode: always
  datasource: 
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none        
  cognito:
    userPoolId: ${AWS_COGNITO_USER_POOL_ID}     